body {
    background-color: lightgray;
}
h1 {
    color: rgb(11, 158, 153);
    background-color: white;
    font-family: times new roman;
    font-weight: bold;
}
@media screen and (min-width: 768px)
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: rgb(11, 158, 153);
    background-color: rgb(11, 158, 153);
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
    background-color: rgb(red, green, blue);
}

p {
    color: white;
}
h5 {
    color: white;
}
.well {
    background-color: rgb(11, 158, 153);
}
.panel-body {
    background-color: rgb(11, 158, 153);
}
.sample-metadata {
    background-color: rgb(11, 158, 153);
}
.col-md-12 {
    margin: 70px;
    margin-left: 20px;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 100px;
}
.container-fluid {
    background-color: black;
    color: white;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: white;
    word-break: break-all;
    word-wrap: break-word;
    background-color: rgb(11, 158, 153);
    border: 1px solid #ccc;
    border-radius: 4px;
}